<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.williamjoy.gexpense"
    android:versionCode="4"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:description="@string/description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_money"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="org.williamjoy.gexpense.ExpenseActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_money"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateExpenseActivity" android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity android:name=".EditExpenseActivity" android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity android:name=".GoogleChartActivity" android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity android:name=".ExpenseStatsActivity" android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity android:name=".Preferences">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
    </application>
</manifest>