[project]
	description = Android Expense App , use calendar storage to track expense records
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lichun Wei (williamjoy)
[access "refs/for/refs/*"]
	read = group user/Lichun Wei (williamjoy)
	push = group user/Lichun Wei (williamjoy)
	label-Code-Review = -2..+2 group user/Lichun Wei (williamjoy)
	label-Verified = -1..+1 group user/Lichun Wei (williamjoy)
	rebase = group user/Lichun Wei (williamjoy)
	removeReviewer = group user/Lichun Wei (williamjoy)
	submit = group user/Lichun Wei (williamjoy)
[access "refs/heads/*"]
	read = group user/Lichun Wei (williamjoy)
	create = group user/Lichun Wei (williamjoy)
	push = +force group user/Lichun Wei (williamjoy)
	pushMerge = group user/Lichun Wei (williamjoy)
[access "refs/tags/*"]
	push = +force group user/Lichun Wei (williamjoy)
	pushTag = group user/Lichun Wei (williamjoy)
	pushSignedTag = group user/Lichun Wei (williamjoy)
